<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Preguntas</h1>
      <% if signed_in? %>
        <div class="text-right">
          <%= link_to "Publicar Pregunta", new_question_path, class: "btn btn-primary" %>
        </div>
      <% end %>
      <table class="table">
        <tr>
          <th>Título</th>
          <th>Descripción</th>
          <th></th>
        </tr>
        <% @questions.each do |question| %>
          <tr>
            <td><%= link_to question.title, question %></td>
            <td><%= question.description %></td>
            <% if signed_in?  %>
              <td>
                <%= link_to "Editar", edit_question_path(question) %>
                <%= link_to "Eliminar", question, method: :delete, data: {confirm: "¿Estás seguro de eliminar esta pregunta?"} %>    
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>