<div class="question-page">
  <header class="question-header">		
			<h1><%= @question.title %></h1>
			<%= markdown(@question.description) %>
			<% if signed_in? && @question.user == current_user %>
			<div class="actions">
			  <%= link_to "<span class='material-icons'>edit</span>".html_safe, edit_question_path(@question) %>
			  <%= link_to "<span class='material-icons'>delete</span>".html_safe, @question, method: :delete, data: { confirm: "¿Estás seguro de eliminar esta Pregunta?" } %>
			</div>
			<% end %>
	</header>

  <div class="answers">
      <h2>Respuestas</h2>

    <% @question.answers.each do |answer| %>
      <div class="card">
        <header class="card-header"><img style="width: 37px;" src="<%= Gravatar.new("#{answer.user.email}").image_url %>" class="rounded-circle" /></header>
        <div class="card-body"><%= markdown(answer.body) %></div>
      </div> <br> 
    <% end %>

    <% if signed_in? %>
      <%= form_for [@question, @question.answers.build] do |f| %>
        <div class="form-group">
          <%= f.text_area :body, class: "form-control", placeholder: "Agregar respuesta" %>
        </div>

        <div class="actions text-right">
          <%= f.submit "Responder", class: "btn btn-primary" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>