<!DOCTYPE html>
<html>
  <head>
    <title>FlowOverStack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<% if flash[:notice] %>
		  <div class="alert alert-info"><%= flash[:notice] %></div>
		<% end %>

    <% if signed_in? %>
      <div>
        Hola <%= current_user.email %>
        <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete, class:"dropdown-item" %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
